OC___Bomstart_RAG_Vec_Semantic.json
{
  "name": "OC : Bomstart RAG Vec Semantic",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.content }}",
        "options": {
          "systemMessage": "=You are a helpful assistant.\n\nHere is some context retrieved from a document (multiple sections). Use it to answer the user's question.\n\nDo not return multiple answers. Instead, synthesize a **single best** answer using all the context combined.\n\nContext:\n{{ $json.context }}\n\nQuestion:\n{{ $json[\"userQuestion\"] }}\n\nAlways answer based on {{ $('When chat message received').item.json.chatInput }}.\n\nIf its in malay, answer in casual speaking malay. If its in english, answer in english."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        760,
        0
      ],
      "id": "9463ac8f-0c88-4fe0-8c53-83a78259c8e1",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        660,
        280
      ],
      "id": "efc0dd5c-1f9c-4c91-ba5d-76d6c1705bd1",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "qiJsG7QNXxS5rP5w",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi there! 👋 My name is Sofia. How can I assist you today?",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -460,
        0
      ],
      "id": "7d04fa0b-4549-4445-902b-23a63fbfc2ab",
      "name": "When chat message received",
      "webhookId": "cbae2fff-f534-463c-bcaa-4b0b0e7765b8"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a query rewriter. Your job is to rephrase vague questions into precise English search queries for a company portfolio vector database.\n\nQuestion: {{ $json.chatInput }}\nRewritten:"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -280,
        0
      ],
      "id": "00ab8e74-649c-43b1-baf3-d6c5edde4969",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "ipBl4XOZnEazlqhw",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "mode": "load",
        "pineconeIndex": {
          "__rl": true,
          "value": "bomstart-vec",
          "mode": "list",
          "cachedResultName": "bomstart-vec"
        },
        "prompt": "={{ $json.message.content }}",
        "topK": 2,
        "options": {
          "pineconeNamespace": "bomstart-vec"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.1,
      "position": [
        80,
        0
      ],
      "id": "343f5b5e-7619-4f32-8724-1f7d5752e211",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "GmvF0NOr2xrKQU6j",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        80,
        260
      ],
      "id": "b14cd0af-eab0-451f-b2e8-07023faa997f",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "qiJsG7QNXxS5rP5w",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fd79cc82-bd0f-4f6f-a5a0-17da682e0cdc",
              "name": "userQuestion",
              "value": "={{ $('When chat message received').item.json.chatInput }}",
              "type": "string"
            },
            {
              "id": "ec59cf0e-1492-4b0f-ad04-67cec429ff82",
              "name": "message.content",
              "value": "={{ $('OpenAI').item.json.message.content }}",
              "type": "string"
            },
            {
              "id": "85a364cb-caaf-4a68-9af2-be75236ccba9",
              "name": "context",
              "value": "={{ $json.pageContent }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        580,
        0
      ],
      "id": "b918455c-4743-4974-a28f-e8f0461286ed",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "document.pageContent"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        420,
        0
      ],
      "id": "c21b07ab-79b9-4818-ac20-d7f314f237be",
      "name": "Aggregate"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bff217b2-768a-49c4-8f7f-509e96779196",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "26eab052ee485494e8bc1c42039419456163d795294cb2611baeb7b14d8d10ac"
  },
  "id": "Nwbyrmk2SHeYgxnr",
  "tags": [
    {
      "createdAt": "2025-04-04T06:54:04.386Z",
      "updatedAt": "2025-04-04T06:54:04.386Z",
      "id": "qHtOyH1CmC5hEsTK",
      "name": "RAG"
    }
  ]
}
