Workflow RAG System.json
{
  "name": "OC | Bomstart RAG",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Based on user input: {{ $json.chatInput }}, please generate a friendly, accurate, concise response.\n\nIf unsure, search the vector store via the `onlinecourse` tool for more context.\n\nRules: \n- If the user asked in malay, reply must be in malay but make it mix malay-english malaysian style.\n",
        "options": {
          "systemMessage": "You are a helpful assistant"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -20,
        0
      ],
      "id": "3bc135a9-ec19-4f81-ab72-93a7eadf2a9c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -280,
        200
      ],
      "id": "c20678c6-24e0-422b-8022-6eacdf9c0f46",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "qiJsG7QNXxS5rP5w",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.chatInput }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -60,
        200
      ],
      "id": "bbf0d45f-86a9-47fc-834d-2fcde2e722de",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi there! 👋 My name is Sofia. How can I assist you today?",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -460,
        0
      ],
      "id": "43fab890-ec49-432b-9b87-9c7ed4f77356",
      "name": "When chat message received",
      "webhookId": "6680754e-79d3-4e34-9dda-8406b3c29165"
    },
    {
      "parameters": {
        "name": "onlinecourse",
        "description": "Call this tool to access information on pinecone to answer user question"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        220,
        200
      ],
      "id": "27766ea6-881c-4e96-b2c9-b823bf560c43",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "onlinecourse",
          "mode": "list",
          "cachedResultName": "onlinecourse"
        },
        "options": {
          "pineconeNamespace": "onlinecourse"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.1,
      "position": [
        -20,
        360
      ],
      "id": "bd32f443-6925-4a21-a23b-71fe7b5fd166",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "N6r9cn4DbeJDuAJv",
          "name": "PineconeApi account 4"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        0,
        520
      ],
      "id": "4fbd8800-88bd-4316-9928-18ad22182c83",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "qiJsG7QNXxS5rP5w",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        300,
        360
      ],
      "id": "2f6f6baa-4a3a-460f-b2e1-7a4cd81e6bca",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "qiJsG7QNXxS5rP5w",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "40092d77-418c-472a-b72f-276b53d3f047",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "26eab052ee485494e8bc1c42039419456163d795294cb2611baeb7b14d8d10ac"
  },
  "id": "gc5F2L08TTwPfsXm",
  "tags": [
    {
      "createdAt": "2025-04-14T06:13:21.034Z",
      "updatedAt": "2025-04-14T06:13:21.034Z",
      "id": "rYerDOtuyCWzm9dV",
      "name": "onlinecourse"
    }
  ]
}
